*{
    margin: 0;
    padding: 0;
}
.hero{/*Sección Hero*/
    background-image: linear-gradient(100deg, rgba(0,0,0,0), rgba(0,0,0,0)), url("../img/img3.jpg"); /*Permite establecer imagen de fondo*/
    width: 100%;
    height: 65      0px;
    background-repeat: no-repeat; /*La imagen no se repite*/
    background-size: cover; /*Cubre todo el espacio*/
    background-position: center; /*Posicion de la imagen*/
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.text-hero{
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-60{
    font-size: 70px;
}
.text-25{
    font-size: 30px;
}

/*Sección de información*/
.info{
    background: gray;
    color: white;
}
.contenedor{
    width: 90%;
    margin: auto;
    padding: 80px 0 0 0;
}
.titulo{
    font-weight: 300px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.contenedor-card{
    display: flex; /*Establece los tipos de visualización de los elementos*/
    width: 100%;
    justify-content: space-evenly; /*Define como el navegaor distribuye el espacio*/
    flex-wrap: wrap; /*Los elementos permanecen en la linea*/
}
.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /*Permite sombrear el contoe¿rno*/
    width: 30%;
    text-align: center;
    transform: scale(1); /*Modificar el formato visual*/
    transition: transform 0.6s;
}
.color-icon{
    color: rgb(58, 187, 231);
    font-size: 30px;
    margin: 20px 0 20px 0;
}
/*Podemos dar estilo a los elementos que esten dentro de un contenedor
.card-i{

}*/
.card:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    transform: scale(1.05);
    cursor: pointer;
}
