*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Sección Hero*/
.hero{
    background-image: linear-gradient(rgba(10, 7, 64, 0), rgba(12, 12, 12, 0)), url("../img/img3.jpg"); /*Permite establecer imagen de fondo*/
    width: 100%; /*Ancho*/
    height: 650px; /*Altura*/
    background-repeat: no-repeat; /*La imagen no se repite*/
    background-size: cover; /*Cubre todo el espacio*/
    background-position: center; /*Posicion de la imagen*/
    background-attachment: fixed;
    filter: grayscale(40%);
}
.text-hero{
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.text-60{
    font-size: 70px;
}
.text-25{
    font-size: 30px;
}
/*Sección de información*/
.info{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.contenedor{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}
.titulo{
    font-weight: 300px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color:rgb(51, 51, 51);
}
/*Servicios*/
.contenedor-card{
    display: flex; /*Establece los tipos de visualización de los elementos*/
    width: 100%;
    justify-content: space-evenly; /*Define como el navegaor distribuye el espacio*/
    flex-wrap: wrap; /*Los elementos permanecen en la linea*/
}
.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /*Permite sombrear el contoe¿rno*/
    width: 30%;
    text-align: center;
    transform: scale(1); /*Modificar el formato visual*/
    transition: transform 0.6s;
}
.color-icon{
    color: rgb(44, 135, 135);
    font-size: 30px;
    margin: 20px 0 20px 0;
}
/*Podemos dar estilo a los elementos que esten dentro de un contenedor con el nombre de la clase*/
.card-i{
    color:rgb(78, 220, 68);
    font-size: 30px;
    margin: 20px 0 20px 5px;
}
.card:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    transform: scale(1.05);
    cursor: pointer;
}
.card p{
    font-size: 20px;
    margin-bottom: 10px;
}
/*Galeria*/
/*.galeria{
    background: rgb(201, 201, 201);
}*/
.galeria-contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img{
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.centrar{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
/*Footer*/
.footer-color{
    background: rgb(235, 235, 235);
    color: white;
}
.footer{
    width: 90%;
    padding: 20px 0;
    margin: auto;
}
.footer ul {
    list-style: none;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.footer a:hover{
    color: black;
}
.marco{
    margin: 10px;
    border: 1px solid;
    width: 300px;
}
.img-litle{
    width: 100px;
    height: auto;
}
/*Barra navegación*/
.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-item{
    float: left;
}
.nav-link{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}
.nav-link:hover{
    background-color: rgb(44, 135, 135);
}
/*fin barra navegación*/
/*si se quiere aplicar a todos los elementos de la etiqueta nav*/
/* nav li{
    float:left;
} */
